# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE files
.vscode/
.idea/
*.iml
*.log
*.DS_Store

# Android
android/.gradle/
android/app/build/
*.apk

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/.symlinks/

# Firebase / Environment files
google-services.json
GoogleService-Info.plist
.env
firebase.json

# macOS / Windows / Linux build output
macos/Flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/
linux/flutter/ephemeral/

# Web build output
web/.dart_tool/
web/build/

# Others
*.lock
*.so
*.dll
*.exe
*.zip
