# Platform folders
ios/
android/
web/
windows/
macos/
linux/

# Firebase and other local config
firebase.json
google-services.json
.env

# VS Code settings (optional)
.vscode/

# Flutter build artifacts
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build output
build/
.dart_tool/

# IDE and system clutter
.idea/
*.iml
*.log
*.DS_Store